extends layout

block content
    .container
        .row
            .col-md-3.my-2
                include inc/categoryList.pug
            .col-md-9.my-2
                include inc/categoryCards.pug
            
            