extends layout

block content
    div.container
        div.row
            div.col-3.my-2
                include inc/categoryList.pug
            
            div.col-9.my-2
                include inc/productList.pug